body{
    background-color: blueviolet;  /*cor do fundo*/
    color: yellow;   /* cor da letra ou cor da letra*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

header{
    border: solid 2px hsla(335, 85%, 48%, 0.438);
    padding: 20px;
    font-size: 32px; 
    
}

h1{
    text-align: center;
    font-size: 32px;
}

p{
    text-align: center;
    font-size: 32px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

img{
    height: 200px;
}

