body{
    background-color: blueviolet;  /*cor do fundo*/
    color: yellow;   /* cor da letra ou cor da letra*/
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
}

header{
    border: solid 2px hsla(335, 85%, 48%, 0.438);
    padding: 20px;
    font-size: 32px; 
    
}

h1{
    text-align: center;
}
